.taskFormPacage {
    width:90%;
    margin-left:auto;
    .inputTaskForm {
        &:first-of-type{
            width:50%;
        }
        &:nth-of-type(2){
            width:10%;
        }
        display: inline-block;
        width: 20%;
        border-color: $color-main;

    }
}